@import url("nav.css");
.heading {
  text-align: center;
  color: pink;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
}
li {
  display: inline;
  font-size: 20.5px;
  line-height: 2.6;
}
.link {
  color: black;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.content {
  width: 50%;
  margin: auto;
  padding: 50px;
  font-size: 16px;
  text-align: center;
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
